.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-layout-header {
  padding: 0 0 0 50px;
} */

.sidebar-item {
  font-size: 1.4em;
}

.ant-layout-footer {
  color: rgba(255,255,255,0.77);
  background: #283138;
}


.home-description {
  font-family: 'Roboto', sans-serif !important;
  text-align: center;
}

.home-description p {
  font-size: 1.5em;
}

